@import "https://fonts.googleapis.com/css?family=Roboto";
@import "materialize.min.css";

/* Added some background color */
#cpanel_body {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
} 

html,body,input,h1,h2,h3,h4,h5,h6{font-family:'Roboto',sans-serif;}
.navbar{background-color:#1EA698;}
#imgPoweredByCpanel,#txtCpanelVersion{visibility:hidden!important;display:none!important;}
